main{
	padding-left: 00px;
	
}

.apresent {
	padding: 1px;
	margin: 0px;
}

.conteudo1 {
	margin: 0px;
	margin-top: 10px;
	padding-left: 40px;
	padding-right: 40px;

}

.side-nav{
	background: url(../img/sidebar-nav-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

.topo{
	background: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;	
    padding-bottom: 8%;
    width: 100%;
}

.titulo{
	margin-top: 10%;
}

.under{
	size: 20px;
}

.sobre{
	padding-top: 40px;
}

.paleta {
	width: 4px;
	height: 110px;
	align-self: center;
	margin-left: 5px;
}

.circle-j{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.ano, .empresa, .local, .cargo {
	margin: 0px;
	padding: 0px;
}

.empresa {
	font-size: 24px;
}

.cargo {
	font-size: 20px;
	margin-top: -7px;
}

footer{
	height: 50px;
	width: 100%;
	padding-top: 10px
}

.copyright{
	height: 50px;
	width: 100%;
	padding-top: 10px
	margin-top: 0px;
}

.contato{
	margin-bottom: 0px;
}



.quadro{
	margin-bottom: 50px;
	background-color: white;
}

h3{
	text-align: center;
}










